.LandingPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 5%;
}

.landing-title {
	color: #d68914;
	font-size: 40px;
}

.err-msg,
.landing-title {
	cursor: default;
}

.err-msg {
	background: #e53a0f;
}

.input-container {
	width: 470px;
	align-items: center;
	border-radius: 40px;
	padding: 10px 0;
	background-color: #162738;
}

.input-container input {
	border-right: none;
	border-left: none;
	border-top: none;
	outline: none;
	background-color: transparent;
	color: #d68914;
	margin-left: 5px;
	font-size: 20px;
	width: 370px;
	transition: 0.2s ease-in-out;
}

::placeholder {
	color: #beb9b9;
}

.landing-title,
::placeholder {
	font-family: 'Risque', cursive;
}

.input-container input:focus {
	width: 400px;
	border-bottom: 2px solid #d68914;
}

.input-container i {
	font-size: 20px;
	margin: 5px 0;
}

/* ------------- responsiveness -------------------- */

@media only screen and (max-width: 500px) {
	.landing-title {
		font-size: 35px;
	}

	.input-container {
		width: 405px;
		padding: 8px 0;
	}

	.input-container input {
		font-size: 18px;
		width: 350px;
	}

	.input-container input:focus {
		width: 360px;
	}

	.input-container i {
		font-size: 18px;
		margin: 3px 0;
	}
}

@media only screen and (max-width: 415px) {
	.landing-title {
		font-size: 30px;
	}

	.input-container {
		width: 350px;
		padding: 5px 0;
	}

	.input-container input {
		font-size: 15px;
		width: 310px;
	}

	.input-container input:focus {
		width: 315px;
	}

	.input-container i {
		font-size: 15px;
	}
}

@media only screen and (max-width: 355px) {
	.landing-title {
		font-size: 27px;
	}

	.input-container {
		width: 315px;
		padding: 2px 0;
	}

	.input-container input {
		font-size: 13px;
		width: 255px;
	}

	.input-container input:focus {
		width: 260px;
	}

	.input-container i {
		font-size: 13px;
		margin: 2px 0;
	}
}
