.LandingPage {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 5%;
}

.landing-title {
	color: #d68914;
}

.err-msg,
.landing-title {
	cursor: default;
}

.err-msg {
	background: #e53a0f;
}

.input-container {
	width: 470px;
	align-items: center;
	border-radius: 40px;
	padding: 10px 0;
	background-color: #162738;
}

.input-container input {
	border-right: none;
	border-left: none;
	border-top: none;
	outline: none;
	background-color: transparent;
	color: #d68914;
	margin-left: 5px;
	font-size: 20px;
	width: 400px;
	transition: 0.2s ease-in-out;
}

.input-container input:focus {
	border-bottom: 2px solid #d68914;
}

.input-container i {
	font-size: 20px;
	margin: 5px 0;
}
