svg {
	height: 400px;
}

.what {
	transform: translateX(-100%);
	animation: 0.8s slide forwards;
}

.we {
	transform: translateX(100%);
	animation: 0.8s slide 0.3s forwards;
}

.eatin {
	transform: translateX(-100%);
	animation: 0.8s slide 0.6s forwards;
}

@keyframes slide {
	to {
		transform: translateX(0);
	}
}

.question {
	transform: translateX(100%);
	animation: 1s swing 0.9s 1 forwards;
}

@keyframes swing {
	0% {
		transform: translateX(0);
	}
	33% {
		transform: rotate(8deg);
	}
	66% {
		transform: rotate(-8deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.burger,
.chips,
.eggs,
.tomatoes,
.drinks {
	animation: 3s fadein;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
