form {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-drop-start {
  /* border: 1px solid turquoise; */
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.droppped {
  background-color: #0190ac;
}

.drag-drop {
  border: 2px solid #fff;
  margin-top: 16px;
  text-align: center;
  height: 100px;
  width: 100px;
  overflow:hidden;
  touch-action: none;
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
  z-index: 10;
}

.drag-drop-one {
  position: absolute;
  left: 20px;
  top: 0px;
}

.drag-drop-three {
  position: absolute;
    right: 20px;
    top: 0px;
}

.drag-drop-image {
  position: relative;
  object-fit: fill;
  width: 102px;
  filter: opacity(0.8) grayscale(75%)
}

.drag-drop-name {
  position: fixed;
  top:0px;
  text-shadow: 1px 1px 3px black;  
  text-align: center;
  display: block;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
}

.dropped-status {
  /* border: 1px dotted white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 54px 0; */
  margin: 4% 0;
  height: 7em;
  width: 350px;
}

.instruction {
  /* border: 1px solid yellow; */
  font-size: 32px;
  text-align: center;
}

.submit {
  /* border: 1px solid green; */
  font-size: 20px;
  border-radius: 5px;
}

/* ****************** PODIUMS ****************** */

.podiums-wrap {
  /* border: 1px dotted yellow; */
  display: flex;
  align-items: flex-end;
  justify-self: end;
  height: 350px;
  width: 350px;
  padding-bottom: 0px;
  /* background-color: #17283B; */
  margin-top: auto;
  margin-bottom: 16px;
}

.podium-container {
  /* border: 1px dotted cyan; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 33%;
  height: 100%;
}

.podium {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropzone {
  /* border: 1px solid indigo; */
  width: 100%;
}

.podium-text {
  /* border: 1px dotted violet; */
  text-align: center;
}

/* **************** PODIUM TWO **************** */

.podium-container-two {
}

.podium-two {
  /* border: 1px dotted blue; */
  height: 41%;
  background-color: #f0995b;
}

.second-dropzone {
  /* border: 1px solid violet; */
  height: 45%;
}

/* **************** PODIUM ONE **************** */

.podium-one {
  /* border: 1px dotted green; */
  height: 55%;
  background-color: #f0995b;
}

.first-dropzone {
  /* border: 1px dotted red; */
  height: 45%;
}

/* **************** PODIUM THREE **************** */

.podium-three {
  /* border: 1px dotted indigo; */
  height: 28%;
  background-color: #f0995b;
}

.third-dropzone {
  /* border: 1px dotted orange; */
  height: 50%;
}

@media only screen and (max-width: 320px) {
  .drag-drop {
    width: 90px;
    height: 90px;
  }

  .podiums-wrap {
    width: 290px;
  }

  .dropped-status {
    width: 290px;
  }
}

@media only screen and (min-width: 512px) {
  .drag-drop-one {
    left: 20%;
  }

  .drag-drop-three {
    right: 20%;
  }
}


/* 
.App {
  height: 100%;
  width:100%;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.podium-one {
  height: 15vw;
  width: 20vw;
  background-color: #f0995b;
}

.podium-two {
  height: 20vw;
  width: 20vw;
  background-color: #f0995b;
}

.podium-three {
  height: 10vw;
  width: 20vw;
  background-color: #f0995b;
}

.first {
   display: inline-block;
   position: absolute;
   z-index: -1;
   right: 42vw;
   bottom: 18vw;
}

.second {
   display: inline-block;
   position: absolute;
   z-index: -1;
   right: 62vw;
   bottom:13vw;
}

.third {
   display: inline-block;
   position: absolute;
   z-index: -1;
   right: 22vw;
   bottom: 8vw;
}

.podium-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  height: 0vw;
  width: 60vw;
  margin-left: 20vw;
  margin-top: 15em;
  padding-bottom: 0px;
  background-color: #17283B;
}

.form {
  height: 100%;
  padding-bottom: 0px;
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 20%;
  transition: background-color 0.3s;
}

.first,
.second,
.third {
  height: 10vw;
  width:15vw;
}

#root {
  height: 100%;
  width: 100%
}

.drag-drop {
  height: 8vw;
  width: 12vw;
  display: inline-block;
  padding: 2em 0.5em;
  margin: 1rem 0 0 1rem;
  color: #fff;
  border: solid 2px #fff;
  touch-action: none;
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
  position: relative;
  z-index: 10;
  padding-top: 0px;
  overflow:hidden;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #0190ac;
}

.drag-drop-image {
  position: relative;
  object-fit: fill;
  width: 289px;
  filter: opacity(0.2) grayscale(75%)
}

.droppped {
  background-color: #0190ac;
}

.podium-text{
  margin-left: 5vw;
}

.instruction{
  position: absolute;
  top: 11vw;
  right: 37vw;
}


@media screen and (min-width: 1140px) and (max-width: 1230px) {
  .podium-container {
    margin-left: 20vw;
    margin-top: 20em;
  }

  .instruction{
    top: 15vw;
    right: 33vw;
  }
}

@media screen and (min-width: 886px) and (max-width: 1139px) {
  .podium-container {
    margin-left: 20vw;
    margin-top: 23em;
  }

  .first {
     right: 41vw;
     bottom: 16vw;
  }

  .second {
     right: 61vw;
     bottom:11vw;
  }

  .third {
     right: 21vw;
     bottom: 6vw;
  }

  .drag-drop {
    height: 7vw;
    width: 10vw;
  }

  .instruction{
    top: 17vw;
    right: 31vw;
  }

}

@media screen and (min-width: 751px) and (max-width: 885px) {
  .podium-container {
    margin-left: 20vw;
    margin-top: 25em;
  }

  .first {
     right: 41vw;
     bottom: 16vw;
  }

  .second {
     right: 61vw;
     bottom:11vw;
  }

  .third {
     right: 21vw;
     bottom: 6vw;
  }

  .drag-drop {
    height: 8vw;
    width: 13vw;
  }

  .instruction{
    top: 26vw;
    right: 27vw;
  }

}

@media screen and (min-width: 680px) and (max-width: 750px) {
  .podium-container {
    margin-left: 12vw;
    margin-top: 25em;
  }

  .first {
     right: 40vw;
     bottom: 19vw;
  }

  .second {
     right: 64vw;
     bottom:14vw;
  }

  .third {
     right: 16vw;
     bottom: 9vw;
  }

  .drag-drop {
    height: 12vw;
    width: 16vw;
  }

  .podium-one {
    height: 18vw;
    width: 25vw;
  }

  .podium-two {
    height: 23vw;
    width: 25vw;
  }

  .podium-three {
    height: 13vw;
    width: 25vw;
  }

  .first,
  .second,
  .third {
    height: 12vw;
    width:17vw;
  }

  .instruction{
    top: 35vw;
    right: 23vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 679px) {
  .podium-container {
    margin-left: 12vw;
    margin-top: 27em;
  }

  .first {
     right: 40vw;
     bottom: 19vw;
  }

  .second {
     right: 64vw;
     bottom:14vw;
  }

  .third {
     right: 16vw;
     bottom: 9vw;
  }

  .drag-drop {
    height: 12vw;
    width: 18vw;
  }

  .podium-one {
    height: 18vw;
    width: 25vw;
  }

  .podium-two {
    height: 23vw;
    width: 25vw;
  }

  .podium-three {
    height: 13vw;
    width: 25vw;
  }

  .first,
  .second,
  .third {
    height: 15vw;
    width:17vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 499px) {
  .podium-container {
    margin-left: 9vw;
    margin-top: 27em;
  }

  .first {
     right: 39vw;
     bottom: 23vw;
  }

  .second {
     right: 64vw;
     bottom:16vw;
  }

  .third {
     right: 11vw;
     bottom: 10vw;
  }

  .drag-drop {
    height: 12vw;
    width: 18vw;
  }

  .podium-one {
    height: 21vw;
    width: 28vw;
  }

  .podium-two {
    height: 28vw;
    width: 28vw;
  }

  .podium-three {
    height: 15vw;
    width: 28vw;
  }

  .first,
  .second,
  .third {
    height: 15vw;
    width:17vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 449px) {
  .podium-container {
    margin-left: 2vw;
    margin-top: 26em;
  }

  .first {
     right: 36vw;
     bottom: 29vw;
  }

  .second {
     right: 68vw;
     bottom: 23vw;
  }

  .third {
     right: 3vw;
     bottom: 17vw;
  }

  .drag-drop {
    height: 17vw;
    width: 23vw;
  }

  .podium-one {
    height: 27vw;
    width: 32vw;
  }

  .podium-two {
    height: 33vw;
    width: 32vw;
  }

  .podium-three {
    height: 21vw;
    width: 32vw;
  }

  .first,
  .second,
  .third {
    height: 20vw;
    width: 23vw;
  }
}

@media screen and (min-width: 376px) and (max-width: 399px) {
  .podium-container {
    margin-left: 2vw;
    margin-top: 28em;
  }

  .first {
     right: 36vw;
     bottom: 29vw;
  }

  .second {
     right: 68vw;
     bottom: 23vw;
  }

  .third {
     right: 3vw;
     bottom: 17vw;
  }

  .drag-drop {
    height: 15vw;
    width: 23vw;
  }

  .podium-one {
    height: 27vw;
    width: 32vw;
  }

  .podium-two {
    height: 33vw;
    width: 32vw;
  }

  .podium-three {
    height: 21vw;
    width: 32vw;
  }

  .first,
  .second,
  .third {
    height: 20vw;
    width: 23vw;
  }
}

@media screen and (max-width: 375px),
       screen and (max-height: 812px) {
         .instruction {
          position: absolute;
          top: 60vw;
          left: 25vw;
          font-size: 8vw;
          width: 70vw;
         }

         .submit{
           background-color: #0aa169;
           position: absolute;
           top: 60vw;
           left: 16vw;
           font-size: 8vw;
           width: 70vw;
           border-radius: 5px;
         }

         .podium-container {
           margin-left: 2vw;
           margin-top: 30em;
         }

         .first {
            right: 35vw;
            bottom: 39vw;
         }

         .second {
            right: 67vw;
            bottom: 25vw;
         }

         .third {
            right: 3vw;
            bottom: 17vw;
         }

         .drag-drop {
           border-radius: 5px;
           height: 18vw;
           width: 23vw;
         }

         .podium-one {
           height: 31vw;
           width: 32vw;
         }

         .podium-two {
           height: 45vw;
           width: 32vw;
         }

         .podium-three {
           height: 23vw;
           width: 32vw;
         }

         .first,
         .second,
         .third {
           height: 20vw;
           width: 23vw;
         }
   } */
