.restaurants-container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.title {
  padding-left: 20px;
}
.selection-submit {
  padding-bottom: 20px;
}

.selection-gen-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 99%;
  word-wrap: break-word;
}

.selection-gen-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-copy-link-button {
  margin-top: 20px;
}

.selection-copied-flag {
  position: fixed;
  border-radius: 5px;
  left: 250px;
  border: 1px solid #1D1827;
  padding: 3px;
  background-color: #17283B;
}

.selection-go-vote-button {
  margin-top: 40px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
  
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  
  .selection-copied-flag {
    left: 51.5%;
  } 
  
  .restaurants-container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 90%;
  }
  
  .copy-link {
    max-width: 67%;
    display: inline;
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .selection-copied-flag {
    left: 56.5%;
  }

  .selection-gen-link {
    font-size: 13px;
    margin: 25px;
  }
} 