Body {
  margin-inline: auto;
	height: 100vh;
  /* background-color: #17283B; */
  /* background-color: #1D1827; */
  background-image: linear-gradient(
180deg
, #17283B, #1D1827);
  color: #FDFFFE;
  background-attachment: fixed;
}

.App {
  height: 99vh;
}
