.card {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
  }

  .card:hover {
    transform: translateY(-.5%);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  .image{
      max-width: 100px;
  }