/* .card { original
    box-sizing: border-box;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
	  background-color: #162738;
    position: relative;
    padding-bottom: 40px;
    transform: translateY(-.15%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  } */

  .restaurant-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.card {
  flex-direction: row-reverse;
  align-content: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  transform: translateY(-.15%);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
  display: flex;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  text-shadow: 0px 1px 3px black;;
  /* line-height: 0px; */
  /* width: 100%; */
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-name { 
  text-shadow: 0px 1px 6px black;
  font-size: 17px;
}

.restaurant-empty-stars {
  z-index: 2;
  text-shadow: 0px 1px 6px black;
}

.restaurant-full-stars {
  position: absolute;
  top: 64px;
}

  .card:hover {
    transform: translateY(-.30%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
  }

  .select{
    border-radius: 20px;
    display: inline-block;
    padding: 1px 6px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: -3px;
    right: 16px;
  }

/* .restaurant-image {
    border-radius: 20px;
    margin-top: 10px;
    object-fit: cover;
    max-height: 200px;
    width:100%
} */

.restaurant-image {
  position: absolute;
  top: -10px;
  left: 1px;
  border-radius: 20px;
  margin-top: 10px;
  object-fit: cover;
  max-height: 100%;
  z-index: -1;
  width: 100%;
  filter: opacity(0.7);
}

h3 {
  color: #d68914;
}