.winner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 55px;
}

.winner-ribbon {
  position: fixed;
  width: 400px;
  left: 12px;
  top: 0px;
  filter: invert(70%) sepia(43%) saturate(763%) hue-rotate(328deg) brightness(97%) contrast(93%);
}

.winner-info-container {
  position: fixed;
  border: 1px solid red;
  height: 242px;
  width: 240px;
  left: 91px;
  top: 38px;
  border-radius: 76%;
}

.link,
a:visited,
a:link {
  color: #FDFFFE;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #FF553D;
}