.tally-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 99%;
  text-align: center;
}

.tally-votes-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.yes-button, .no-button {
  margin: 10px;
}

.link,
a:visited,
a:link {
  color: #0190AC;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #FF553D;
}

.tally-votes-button, .yes-button {
  background-color: #0190AC;
}

.no-button {
  background-color: #FF553D;
}

.winner-button {
  border-radius: 4px;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.winner-button:hover {
  cursor: pointer;
}

.winner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.winner-text {
  font-size: 56px;
  font-weight: 500;
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.winner-ribbon {
  height: 255px;
  filter: invert(70%) sepia(43%) saturate(763%) hue-rotate(328deg) brightness(97%) contrast(93%);
}

.winner-image-wrap {
  position: relative;
  bottom: 231px;
  height: 207px;
  width: 207px;
  border-radius: 50%;
  overflow: hidden;
}

.winner-image {
  width: 195px;
  filter: opacity(0.2) grayscale(75%)
}

.winner-info-details {
  width: 175px;
  position: relative;
  bottom: 422px;
}

.winner-name {
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .winner-text {
    font-size: 75px;
  }

  .winner-ribbon {
    height: 355px
  }

  .winner-image-wrap {
    bottom: 321px;
    height: 286px;
    width: 286px;
  }

  .winner-image {
    width: 286px;
  }

  .winner-info-details {
    width: 231px;
    bottom: 588px;
    font-size: 22px;
}

}




/* .winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
} */

/* .winner {
  height: 100%;
  width: 100%;
} */


/* .winner-ribbon {
  position: fixed;
  width: 344px;
  left: 12px;
  top: 200px;
  filter: invert(70%) sepia(43%) saturate(763%) hue-rotate(328deg) brightness(97%) contrast(93%);
} */

/* .winner-text {
  position: fixed;
  top: 75px;
  left: 64px;
  font-size: 62px;
} */

/* .winner-info-wrap {
  position: fixed;
  height: 216px;
  width: 218px;
  left: 75px;
  top: 230px;
  border-radius: 76%;
  overflow: hidden;
} */

/* .winner-image {
  position: relative;
  object-fit: fill;
  width: 289px;
  filter: opacity(0.2) grayscale(75%)
} */

/* .winner-info-details {
  position: fixed;
  width: 210px;
  left: 80px;
  top: 243px;
  border-radius: 0;
  word-wrap: break-word;
  color: white;
  text-shadow: -1px 1px 8px black;
} */


/* .hidden {
  visibility: hidden;
} */


/* @media only screen and (min-width: 768px) {
  .winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .winner-text {
    position: unset;
  }
  
  .winner-ribbon {
    position: unset; 
  }
  
  .winner-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 194px;
    left: auto;
  }
  .winner-info-details {
    left: auto;
    top: auto;
  }
  
} */

